@model ApplicationHealth.MvcWebUI.AccountModel.ManageModel.ChangePasswordModel

@{
   ViewData["Title"] = "Şifre Değiştirme";
   Layout = "/Views/Shared/_LayoutAW.cshtml";

}

<div class="row">

   <div class="col-6">
      <div class="card" id="">
         <div class="card-body">
            <h4 class="card-title m-b-0 align-self-center"><i class="fas fa-lock-open"></i> ApplicationHealth.MvcWebUI"Şifre Değiştirme"] </h4>
            <div class="ml-auto float-right">
               <a onclick="window.history.back()" class="btn btn-xs  btn-outline-warning"><i class="fa fa-arrow-left"></i> ApplicationHealth.MvcWebUI"Geri"]</a>
            </div>
            <br />

            <form id="change-password-form" method="post" asp-controller="Manage" asp-action="ChangePassword">
               @*<div asp-validation-summary="All" class="text-danger"></div>*@
               <div class="form-group">
                  <label>ApplicationHealth.MvcWebUI"Mevcut Parola"]</label>
                  <input asp-for="@Model.OldPassword" class="form-control" />
                  <span asp-validation-for="@Model.OldPassword" class="text-danger"></span>
               </div>
               <div class="form-group">
                  <label>ApplicationHealth.MvcWebUI"Yeni Parola"]</label>
                  <input asp-for="@Model.NewPassword" class="form-control" />
                  <span asp-validation-for="@Model.NewPassword" class="text-danger"></span>
               </div>
               <div class="form-group">
                  <label>ApplicationHealth.MvcWebUI"Yeni Parolayı Doğrula"]</label>
                  <input asp-for="@Model.ConfirmPassword" class="form-control" />
                  <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
               </div>
               <button type="submit" class="btn btn-primary">ApplicationHealth.MvcWebUI"Şifre Güncelle"]</button>
            </form>

         </div>
      </div>

   </div>
</div>


@section Scripts {
   <partial name="_ValidationScriptsPartial" />
}