@model ApplicationHealth.MvcWebUI.AccountModel.EditUserModel

@{
    ViewData["Title"] = "Kullanıcıyı Düzenle";
    Layout = "~/Views/Shared/_LayoutAW.cshtml";
}
<style>
    .dropdown-item.active, .dropdown-item:active {
        color: #fff;
        text-decoration: none;
        background-color: #e9edf2;
    }
</style>

<link href="/assets/node_modules/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />


<form method="post">
    <div class="card">
        <div class="card-body">
            <h5 class="text-uppercase text-info font-weight-bold"><i class="fa fa-user"></i>  Kullanıcı Düzenleme</h5>
            <br />
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label>Gerçek Adı</label>
                        <div class="input-group">
                            @Html.TextBoxFor(m => m.EditUser.Name, new { @class = "form-control", autocomplete = "off" })
                        </div>
                        @Html.ValidationMessageFor(model => model.EditUser.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label>Kullanıcı Adı</label>
                        <div class="input-group">
                            @Html.TextBoxFor(m => m.EditUser.UserName, new { @class = "form-control", autocomplete = "off" })
                        </div>
                        @Html.ValidationMessageFor(model => model.EditUser.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label>E-Posta Adresi</label>
                        <div class="input-group">
                            @Html.TextBoxFor(m => m.EditUser.Email, new { @class = "form-control", autocomplete = "off" })
                        </div>
                        @Html.ValidationMessageFor(model => model.EditUser.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label>Telefon</label>
                        <div class="input-group">
                            @Html.TextBoxFor(m => m.EditUser.PhoneNumber, new { @class = "form-control", autocomplete = "off" })
                        </div>
                        @Html.ValidationMessageFor(model => model.EditUser.PhoneNumber, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label>Roller</label>
                        <div class="input-group" style="border:solid 1px #ced4da; border-radius:5px;">
                            <select id="selectRoles" name="UserRoles" class="form-control required" data-live-search="true" multiple>
                                @foreach (var item in Model.Roles)
                                {
                                    if (Model.UserRoles.Contains(item.Name))
                                    {
                                        <option selected value="@item.Name">@item.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Name">@item.Name</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>

           
            <div class="row">
              
            </div>
           




            @Html.HiddenFor(m => m.UserId)

            <div class="col-sm-12 text-right">
                <button type="button" onclick="window.location.href = '/Manage/Users'" class="btn btn-outline-warning">Kullanıcılar</button>
                
            </div>
        </div>
    </div>
</form>

@section Scripts {

    <script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="/assets/node_modules/bootstrap/js/popper.min.js"></script>
    <script src="/assets/node_modules/bootstrap-select/bootstrap-select.min.js"></script>


    <script>

        $(document).ready(function () {
           
            $('select').selectpicker({
                style: 'btn-default',
            });
            $("#userFirm").change();
        });
    </script>
}
