@model ApplicationHealth.MvcWebUI.AccountModel.RegisterModel
@{
    ViewData["Title"] = "Yeni Kullanıcı";
    
}
   <style>
      .dropdown-item.active, .dropdown-item:active {
         color: #fff;
         text-decoration: none;
         background-color: #e9edf2;
      }
   </style>

<link href="/assets/node_modules/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />


<div class="card">
    <div class="card-body">
        <h5 class="text-uppercase text-info font-weight-bold"><i class="fa fa-user"></i> Yeni Kullanıcı</h5>
        <br />
        <form method="post" asp-route-returnUrl="@Model.ReturnUrl">
            @Html.AntiForgeryToken()

            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label>Gerçek Adı</label>
                        <div class="input-group">
                            @Html.TextBoxFor(m => m.RegisterView.Name, new { @class = "form-control", autocomplete = "off" })
                        </div>
                        @Html.ValidationMessageFor(model => model.RegisterView.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label>Kullanıcı Adı</label>
                        <div class="input-group">

                            @Html.TextBoxFor(m => m.RegisterView.UserName, new { @class = "form-control", autocomplete = "off" })
                        </div>
                        @Html.ValidationMessageFor(model => model.RegisterView.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>
                @*<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label>Şifre</label>
                        <div class="input-group">
                            @Html.PasswordFor(m => m.RegisterView.Password, new { @class = "form-control", autocomplete = "off" })
                        </div>
                        @Html.ValidationMessageFor(model => model.RegisterView.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label>Şifre Tekrar</label>
                        <div class="input-group">
                            @Html.PasswordFor(m => m.RegisterView.ConfirmPassword, new { @class = "form-control", autocomplete = "off" })
                        </div>
                        @Html.ValidationMessageFor(model => model.RegisterView.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                </div>*@

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label>E-Posta Adresi</label>
                        <div class="input-group">
                            @Html.TextBoxFor(m => m.RegisterView.Email, new { @class = "form-control", autocomplete = "off" })
                        </div>
                        @Html.ValidationMessageFor(model => model.RegisterView.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label>Telefon</label>
                        <div class="input-group">
                            @Html.TextBoxFor(m => m.RegisterView.Phone, new { @class = "form-control", autocomplete = "off" })
                        </div>
                        @Html.ValidationMessageFor(model => model.RegisterView.Phone, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label>Cep Telefonu</label>
                        <div class="input-group">
                            @Html.TextBoxFor(m => m.RegisterView.MobilePhone, new { @class = "form-control", autocomplete = "off" })
                        </div>
                        @Html.ValidationMessageFor(model => model.RegisterView.MobilePhone, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                    <div class="form-group">
                        <label>Roller</label>
                        <div class="input-group" style="border:solid 1px #ced4da; border-radius:5px;">
                            <select id="selectRoles" name="RegisterView.Roles" class="form-control required" data-live-search="true" multiple>
                                @foreach (var item in Model.Roles)
                                {
                                    if (item.Name == "Standart Kullanıcı")
                                    {
                                        <option selected value="@item.Name">@item.Name</option>

                                    }
                                    else
                                    {
                                        <option value="@item.Name">@item.Name</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>


                <div class="col-sm-12 text-right">
                    <button type="button" onclick="window.location.href = '/Manage/Users'" class="btn btn-outline-warning">Kullanıcılar</button>
                    <button type="submit" class="btn btn-outline-info"><i class="fa fa-check"></i> Oluştur</button>
                </div>
            </div>
        </form>
    </div>

</div>

<script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

<script src="/assets/node_modules/bootstrap/js/popper.min.js"></script>
<script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/assets/node_modules/bootstrap-select/bootstrap-select.min.js"></script>
<script>

   // var $options = $('#SubregionId').find('option');
   // var $optionsFirm = $('#FirmId').find('option');

   // $('#RegionId').on("change", function () {
   //     var value = $(this).val();
   //     $('#SubregionId').html($options.filter('[data-city="' + value + '"]')).selectpicker('refresh');
   //     $('#FirmId').html($optionsFirm.filter('[data-city="' + value + '"]')).selectpicker('refresh');
   // });
   //$('#RegionId').change();

   // $('#SubregionId').on("change", function () {
   //     var value = $(this).val();
   //     $('#FirmId').html($optionsFirm.filter('[data-region="' + value + '"]')).selectpicker('refresh');
   // });
   // $('#SubregionId').change();

    function OnFailure() {
        toastr.clear();
        toastr["error"]("Sunucu tarafında bir hata oluştu. Gönderilen verileri kontrol edin.(Olası sebepler: Şifre-email-kullanıcıAdı)");
    }
    $(document).ready(function () {
        $('select').selectpicker({
            style: 'btn-default',
        });
        //$("#userFirm").change();
    });
    $("#userFirm").on("changed.bs.select", function (e, clickedIndex, newValue, oldValue) {
        //var selectedD = $("#userFirm option:selected").val();
        //GetFirmApp(selectedD);
    });
    // kullanıcı adı ve email alanlarını otomatik doldurma için
    $("#RegisterView_Name").keyup(function () {
        var val = $(this).val();
        val = val.toLowerCase().replace(/\ /g, '.');
        val = val.toLowerCase().replace(/\ş/g, 's');
        val = val.toLowerCase().replace(/\ç/g, 'c');
        val = val.toLowerCase().replace(/\ö/g, 'o');
        val = val.toLowerCase().replace(/\ı/g, 'i');
        val = val.toLowerCase().replace(/\ü/g, 'u');
        val = val.toLowerCase().replace(/\ğ/g, 'g');
        $("#RegisterView_UserName").val(val);
        $("#RegisterView_Email").val(val.replace(/\@@/g, '') + "@@atlassayac.com");
    });


</script>
