@model ApplicationHealth.MvcWebUI.AccountModel.LoginModel

@{
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
    ViewData["Title"] = "Giriş Yap";
    var mailPlaceHolder = "Kullanıcı adı";
    var passPlaceHolder = "Şifre";
}

<form method="post">
    @Html.AntiForgeryToken()

    <div class="atlasServerXs">
        <img src="/img/atlas-iot-logo.jpg" />
    </div>
    <br />
    <h3 class="box-title m-b-20">ApplicationHealth.MvcWebUI"Kullanıcı Girişi"]</h3>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group ">
        <div class="col-xs-12">
            @Html.TextBoxFor(Model => Model.Email, new { @class = "form-control", autocomplete = "off", placeholder = mailPlaceHolder })
            @Html.ValidationMessageFor(Model => Model.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", autocomplete = "off", placeholder = passPlaceHolder })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @*<div class="checkbox checkbox-info pull-left p-t-0">
                @Html.CheckBoxFor(m => m.RememberMe, new { @class = "filled-in chk-col-light-blue" })
                <label for="checkbox-signup">ApplicationHealth.MvcWebUI"Hatırla"]</label>
            </div>*@
        <a href="/Account/Forgotpassword" id="forget-password" class="text-dark pull-right"><i class="fa fa-lock m-r-5"></i> ApplicationHealth.MvcWebUI"Şifremi Unuttum?"]</a>
    </div>
    <div class="form-group text-center">
        <div class="p-b-20">
            <button class="btn btn-block btn-lg btn-info btn-rounded" style="background: #20aee3; border-radius: 60px; " type="submit">ApplicationHealth.MvcWebUI"Giriş Yap"]</button>
        </div>
    </div>
    <div class="float-right">
        <a href="#" onclick="setLang('tr-TR')">Türkçe</a>&nbsp;/&nbsp;
        <a href="#" onclick="setLang('en-US')">English</a>
    </div>
</form>

@section Scripts {
    <script>
        function setLang(culture) {
            $.ajax({
                type: "post",
                url: "/Home/SetLanguageAnonymous",
                data: { culture },
                success: function (res) {
                    location.reload();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    location.reload();
                },
            });
        }
    </script>
    <partial name="_ValidationScriptsPartial" />
}

